@charset "UTF-8";

$regular: 'Montserrat', sans-serif;
html,
body {
  margin: 0;
  padding: 0;
}

@mixin text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

@mixin img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#es-loreal.es-loreal {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  max-width: 998px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #1d1d1b;
  background: #fff;

  * {
    box-sizing: border-box;
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: 'Montserrat', sans-serif;
    color: #1d1d1b;
  }

  .es-kv {
    &__img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }

    &__images {
      padding-top: 32px;
    }

    &__logo {
      margin: 16px 0;
      opacity: 0;
      -webkit-animation: slidedown 0.6s ease forwards;
      animation: slidedown 0.6s ease forwards;
    }

    &__bg {
      display: flex;
      justify-content: right;
      margin-bottom: 32px;
    }

    &__banner {
      position: relative;
    }

    &__title {
      margin: 0;
      padding: 0;
      line-height: inherit;
      font-family: inherit;
      font-weight: inherit;
      padding: 0 16px;
      font-weight: 700;
      font-size: 30px;
      opacity: 0;
      -webkit-animation: slidedown 0.6s ease forwards;
      animation: slidedown 0.6s ease forwards;
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
      text-align: center;
      text-transform: uppercase;
    }
    &__sub {
      margin: 0;
      padding: 0;
      padding: 0 16px;
      font-weight: 100;
      font-size: 10px;
      text-align: left;
    }
    &-content {
      text-align: center;
    }
    &-content img {
      width: 45%;
      max-width: 191px;
      margin-bottom: 30px;
    }

    &__subtitle {
      padding: 0;
      line-height: inherit;
      font-family: inherit;
      font-weight: inherit;
      font-weight: 600;
      font-size: 23px;
      opacity: 0;
      -webkit-animation: slidedown 0.6s ease forwards;
      animation: slidedown 0.6s ease forwards;
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
      text-align: center;
      text-transform: uppercase;

      &--logo {
        margin: 0;
        font-size: 20px;
        font-weight: 600;
      }
    }

    &__disclaimer {
      margin: 0;
      padding: 0;
      line-height: inherit;
      font-family: inherit;
      font-weight: inherit;
      font-weight: 300;
      font-size: 13px;
      opacity: 0;
      -webkit-animation: slidedown 0.6s ease forwards;
      animation: slidedown 0.6s ease forwards;
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
      text-align: center;
      text-transform: uppercase;
    }

    &__titles {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }

    &__img {
      display: block;
      margin: 0 auto;
    }

    &__img--desktop {
      display: none;
    }

    &__badge {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px 10px;
    }
    &__badge-1 {
      max-width: 49%;
    }
    &__badge-2 {
      max-width: 49%;
    }
    &__line {
      display: none;
    }
    &__sub {
      display: block;
      margin-top: 15px;
      text-align: center;
    }

    &__badge {
      position: relative;
    }

    &__badge-title {
      position: absolute;
      @include text;
      font-weight: 600;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;

      &--bold {
        font-weight: 700;
      }
    }

    &__badge-img {
      max-width: 250px;
    }
  }

  .es-info {
    & {
      padding: 56px 16px 56px 16px;
    }

    &__title {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 32px;
      text-align: center;
      letter-spacing: -1px;
      line-height: 1.1;
    }

    &__text {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      text-align: center;
    }
  }

  .es-benefits {
    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 48px 2px;
    }

    &__single {
      width: 328px;
    }

    &__image-text {
      position: absolute;
      margin: 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 25px;
      font-weight: 700;
      text-align: center;
      text-shadow: 0 0 20px #fff, 0 0 20px #ffffff, 0 0 20px #ffffff,
        0 0 20px #ffffff;
    }

    &__single:hover .es-benefits__img--bg {
      transform: scale(1.1);
    }

    &__image {
      overflow: hidden;
      margin-bottom: 16px;
      position: relative;
    }

    &__img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
      transition: all 0.6s;
    }

    &__img--banner {
      flex: 4;
    }

    &__tile {
      text-transform: uppercase;
      position: relative;
    }

    &__label {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      text-transform: uppercase;
      font-size: 32px;
      text-align: center;
      line-height: 1.1;
      transform: translate(-50%, -50%);
    }

    &__label span {
      font-size: 80px;
    }

    &__title {
      margin: 0;
      padding: 0;
      margin-top: 30px;
      margin-bottom: 16px;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
    }

    &__subtitle {
      @include text;
      font-size: 15px;
      text-align: center;
    }

    &__text {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      text-align: center;
    }

    &__text--banner {
      text-transform: uppercase;
      font-size: 64px;
      flex: 4;
    }

    &__text--banner-left {
      text-align: right;
      padding-right: 120px;
    }

    &__text--banner-right {
      text-align: left;
      padding-left: 120px;
    }

    &__disc {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      padding-top: 16px;
      text-align: center;
      font-size: 12px;
    }

    &__banner {
      padding: 32px 16px;
      min-height: 407px;
      display: flex;
      flex-flow: column;
      align-items: center;
      display: none;
    }

    &__line {
      display: none;
    }
  }

  .es-you {
    padding: 96px 16px 32px 16px;

    &-double {
      padding: 0 16px 0 16px;
    }

    &__content {
      min-width: 50%;
      padding: 20px 20px;
    }
    &__image {
      min-width: 50%;
      padding: 0;
    }

    &__title {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 32px;
      text-transform: uppercase;
      line-height: 1.1;

      & span {
        font-weight: 400;
      }
    }

    &__title-light {
      font-weight: 300;
      margin-bottom: 32px;
      text-transform: uppercase;
      line-height: 1.1;
    }

    &__title span {
      font-size: 24px;
    }

    &__text {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      font-size: 16px;
    }

    &__img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }

    &-qrcode {
      width: 100%;
      text-align: center;
    }
    &-qrcode img {
      max-width: 100%;
    }
  }

  .es-slick-carousel {
    max-width: 150px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    gap: 0 4px;
    padding: 0;
    margin: 0;
  }
  .slick-dots li {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    background: #a5a3a3;
    opacity: 1;
  }
  .slick-dots li:not(:last-child) {
    margin-right: 6px;
  }
  .slick-dots li.slick-active {
    background: #000000;
  }
  .slick-dots li button {
    display: none;
  }

  .es-slick-carousel--desktop {
    display: none;
  }

  .es-shades {
    &__container {
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2px 1px;
    }
    &__single {
      width: 100%;
      position: relative;
      text-align: center;
      width: 130px;
      text-transform: uppercase;
      font-weight: 500;
    }
    &__first-line {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 190px;
      margin-bottom: 20px;

      & p {
        font-size: 12px;
        font-weight: 700;
      }
    }
    &__group-title,
    &__group-subtitle {
      font-size: 12px;
      font-weight: 700;
      min-height: 30px;
    }

    &__group-subtitle--light {
      font-weight: 500;
      text-transform: none;
    }

    &__second-line {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__group-title {
      margin: 0;
    }
    &__subtitle {
      text-align: center;
      font-weight: 700;
      font-size: 18px;
      padding: 32px 16px 32px 16px;
    }
    &__container-2 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px 20px;
    }
    &__single-2 {
      background-color: white;
      border-radius: 16px;
      padding: 10px;
      font-size: 16px;
      font-weight: 300;
      box-shadow: 8px 16px 40px rgba(0, 0, 0, 0.06);
      position: relative;
      text-align: center;
      width: 300px;
    }
  }

  .es-cross {
    &__image img {
      display: none;
    }

    & {
      margin-bottom: 32px;
      margin-top: 32px;
    }

    &__title {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      font-size: 32px;
      font-weight: 300;
      margin-bottom: 32px;
      padding: 0 16px;
      text-transform: uppercase;
      line-height: 1.1;
      text-align: center;
    }

    &__img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }

    &__packshot {
      transform: scale(0.8);
    }

    &__packshot--desktop {
      display: none;
    }

    &__packshot--narrow {
      margin-bottom: 32px;
    }

    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px 40px;
    }

    &__container-narrow {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px 1px;
    }

    &__single {
      width: 253px;
      max-width: 100%;
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
    }

    &__single--narrow {
      width: 198px;
    }

    &__single:hover .es-cross__link {
      background: #e1044b;
    }

    &__product {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 8px;
    }

    &__name {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      text-align: center;
      font-size: 16px;
      margin-bottom: 15px;
    }

    &__link {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      padding: 12px;
      border-radius: 4px;
      color: #fff;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      background: #1d1d1b;
      text-decoration: none;
      display: block;
      transition: background 0.3s;
    }
    &__link-narrow {
      width: 120px;
      margin: auto;
    }

    &__line {
      display: none;
    }
  }

  .es-multi {
    margin: 56px auto 56px;
    margin-bottom: 120px;

    &__info {
      margin: 56px auto 56px;
      margin-bottom: 0;
      font-size: 12px;
      text-align: center;
    }

    &__text {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      font-size: 18px;
    }

    &__subtitle {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      padding: 0 16px;
      font-size: 18px;
      font-weight: 700;
    }

    &__img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }

    &__wrapper {
      padding: 0 16px;
    }

    &__lines {
      display: none;
    }
    &__par {
      text-align: center;
      &--bold {
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (max-width: 500px) {
}

@media screen and (min-width: 600px) {
  #es-loreal.es-loreal .es-kv__img--mobile {
    display: none;
  }

  #es-loreal.es-loreal .es-kv__img--desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  #es-loreal.es-loreal .es-shades__single--mobile {
    display: none;
  }
  #es-loreal.es-loreal .es-slick-carousel--mobile {
    display: none;
  }

  #es-loreal.es-loreal .es-slick-carousel--desktop {
    display: block;
  }

  #es-loreal.es-loreal .es-slick-carousel--desktop {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px 1px;
  }

  #es-loreal.es-loreal .es-info__title {
    font-size: 35px;
    margin-bottom: 30px;
  }

  #es-loreal.es-loreal .es-cross {
    margin-bottom: 120px;
  }
  #es-loreal.es-loreal .es-cross__title {
    font-size: 35px;
  }
  #es-loreal.es-loreal .es-cross__packshot--desktop {
    display: block;
  }

  #es-loreal.es-loreal .es-cross__packshot--mobile {
    display: none;
  }
  #es-loreal.es-loreal .es-cross__packshot--narrow {
    margin-bottom: 32px;
  }
  #es-loreal.es-loreal .es-cross__packshot {
    transform: scale(1);
    margin-bottom: 90px;
  }
  #es-loreal.es-loreal .es-cross__packshot--narrow {
    margin-bottom: 32px;
  }
  #es-loreal.es-loreal .es-cross__single {
    position: relative;
  }
  #es-loreal.es-loreal .es-multi {
    margin-top: 0;
  }

  #es-loreal.es-loreal .es-multi__subtitle {
    text-align: center;
  }
  #es-loreal.es-loreal .es-multi__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }
  #es-loreal.es-loreal .es-multi__subtitle {
    margin-bottom: 32px;
  }
  #es-loreal.es-loreal .es-multi__lines {
    display: block;
    margin-bottom: 32px;
    padding: 0 64px;
  }
  #es-loreal.es-loreal .es-multi__par {
    text-align: center;
    flex: 1;
  }
}

@media screen and (min-width: 998px) {
  #es-loreal.es-loreal .es-you__title span {
    font-size: 32px;
  }

  #es-loreal.es-loreal .es-shades__first-line {
    margin-bottom: 38px;
  }

  #es-loreal.es-loreal .es-shades__group-subtitle,
  #es-loreal.es-loreal .es-shades__group-title {
    position: relative;
  }

  #es-loreal.es-loreal .es-shades__group-subtitle::after,
  #es-loreal.es-loreal .es-shades__group-title::after {
    position: absolute;
    content: '';
    border-right: 1px solid black;
    height: 75%;
    top: 0;
    right: -20px;
  }

  #es-loreal.es-loreal .es-shades__group-title--last::after,
  #es-loreal.es-loreal .es-shades__group-subtitle--last::after {
    right: 10px;
  }
  #es-loreal.es-loreal .es-shades__second-line {
    gap: 40px;
  }

  #es-loreal.es-loreal .es-shades__group {
    display: flex;
    gap: 40px;
    flex-direction: column;
  }

  #es-loreal.es-loreal .es-kv {
    position: relative;
  }

  #es-loreal.es-loreal .es-kv__subtitle--main-text {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: left;
    color: #fff;
  }

  #es-loreal.es-loreal .es-kv__disclaimer {
    font-weight: 600;
    color: #fff;
    text-align: left;
  }

  #es-loreal.es-loreal .es-kv-content {
    position: absolute;
    text-align: left;
    top: 26%;
    right: 8%;
    transform: translateY(-50%);
  }

  #es-loreal.es-loreal .es-kv__title-group {
    position: absolute;
    bottom: 50px;
    left: 3%;
  }
  #es-loreal.es-loreal .es-kv__badge-wrapper {
    position: absolute;
    left: 56%;
    top: 64%;
    transform: translate(-50%, -50%);
  }

  #es-loreal.es-loreal .es-kv__badge-1 {
    position: absolute;
    bottom: 60px;
    left: 10px;
  }
  #es-loreal.es-loreal .es-kv__badge-2 {
    position: absolute;
    bottom: 40px;
    left: 190px;
  }
  #es-loreal.es-loreal .es-kv__line {
    display: block;
    position: absolute;
    bottom: 35%;
    left: 28%;
  }
  #es-loreal.es-loreal .es-kv__sub {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  #es-loreal.es-loreal .es-you__title {
    font-size: 32px;
  }
  #es-loreal.es-loreal .es-you__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #es-loreal.es-loreal .es-benefits__banner {
    background: url('../images/benefit-bg.png') no-repeat center;
    background-size: cover;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
  }
  #es-loreal.es-loreal .es-benefits__line {
    padding-top: 32px;
    display: block;
  }
  #es-loreal.es-loreal .es-benefits__img--line-1 {
    position: relative;
    left: 56px;
  }
  #es-loreal.es-loreal .es-benefits__img--line-3 {
    position: relative;
    left: -56px;
  }

  #es-loreal.es-loreal .es-cross__line {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
  }
  #es-loreal.es-loreal .es-cross__line--1 {
    top: -108px;
    left: 55%;
  }
  #es-loreal.es-loreal .es-cross__line--2 {
    top: -80px;
    left: 30%;
  }
  #es-loreal.es-loreal .es-cross__line--3 {
    top: -80px;
    transform: translateX(-189px);
  }
  #es-loreal.es-loreal .es-cross__img--3 {
    max-width: 150%;
  }

  #es-loreal.es-loreal .es-cross_container_photo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #es-loreal.es-loreal .es-cross_container_photo {
    padding: 96px 0 0 0;
  }
  #es-loreal.es-loreal .es-cross__content {
    width: 100%;
  }

  #es-loreal.es-loreal .es-cross__image {
    width: 35%;
    -o-object-fit: cover;
    object-fit: cover;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #es-loreal.es-loreal .es-cross__image img {
    display: block;
  }
  #es-loreal.es-loreal .es-shades {
    &__single {
      width: 160px;
    }
  }
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes slideright {
  from {
    opacity: 0.3;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideright {
  from {
    opacity: 0.3;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes slideleft {
  from {
    opacity: 0.3;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideleft {
  from {
    opacity: 0.3;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@media screen and (min-width: 768px) {
}
